body{
	font-family: 'Roboto', sans-serif;
}
.bold{
	font-weight: bold;
	text-align: center;
}

#shape {
	width: 200px;
	height: 200px;
	background-color: red;
	color: black;
	display: none;
	position: relative;
	top: 50px;
	left: 20px;
	border-radius: 0%;
}
